body {
    background: #aa4b6b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* animações */

@keyframes neuromancer {

    /* estado inicial */
    from {
        top: 0;
        left: 0;
        background: #FF0099;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #493240, #FF0099);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #493240, #FF0099);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    /* estado final */
    to {
        top: 200px;
        left: 200px;
        background: #f953c6;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b91d73, #f953c6);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b91d73, #f953c6);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 300px;
    }
}

@-webkit-keyframes neuromancer {

    /* estado inicial */
    from {
        top: 0;
        left: 0;
        background: #FF0099;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #493240, #FF0099);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #493240, #FF0099);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    /* estado final */
    to {
        top: 200px;
        left: 200px;
        background: #f953c6;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b91d73, #f953c6);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b91d73, #f953c6);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 300px;
    }
}

@-moz-keyframes neuromancer {

    /* estado inicial */
    from {
        top: 0;
        left: 0;
        background: #FF0099;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #493240, #FF0099);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #493240, #FF0099);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    /* estado final */
    to {
        top: 200px;
        left: 200px;
        background: #f953c6;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b91d73, #f953c6);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b91d73, #f953c6);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 300px;
    }
}

@-o-keyframes neuromancer {

    /* estado inicial */
    from {
        top: 0;
        left: 0;
        background: #FF0099;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #493240, #FF0099);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #493240, #FF0099);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    /* estado final */
    to {
        top: 200px;
        left: 200px;
        background: #f953c6;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #b91d73, #f953c6);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #b91d73, #f953c6);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border-radius: 300px;
    }
}

#caixa {
    width: 300px;
    height: 300px;
    background: #FF0099;
    position: relative;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #493240, #FF0099);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #493240, #FF0099);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    animation: neuromancer 5s 2s infinite alternate;
    -webkit-animation: neuromancer 5s 2s infinite alternate;
    -moz-animation: neuromancer 5s 2s infinite alternate;
    -o-animation: neuromancer 5s 2s infinite alternate;
    /* vontar para o estado inicial 
    animation-direction: alternate;*/


}